#
LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "data_out[0]" SITE "A13";
LOCATE COMP "data_out[1]" SITE "A12";
LOCATE COMP "data_out[2]" SITE "B19";
LOCATE COMP "data_out[3]" SITE "A18";
LOCATE COMP "data_out[4]" SITE "B18";
LOCATE COMP "data_out[5]" SITE "C17";
LOCATE COMP "data_out[6]" SITE "A17";
LOCATE COMP "data_out[7]" SITE "B17";

IOBUF PORT "data_out[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "data_out[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "data_out[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "data_out[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "data_out[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "data_out[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "data_out[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "data_out[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "data_in[0]" SITE "U17"; # RASP_IO04
LOCATE COMP "data_in[1]" SITE "U18"; # RASP_IO05
LOCATE COMP "data_in[2]" SITE "T18"; # RASP_IO06
LOCATE COMP "data_in[3]" SITE "U19"; # RASP_IO08
LOCATE COMP "data_in[4]" SITE "R18"; # RASP_IO07
LOCATE COMP "data_in[5]" SITE "T19"; # RASP_IO09
LOCATE COMP "data_in[6]" SITE "U20"; # RASP_IO10
LOCATE COMP "data_in[7]" SITE "T16"; # RASP_IO18

IOBUF PORT "data_in[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_in[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_in[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_in[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_in[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_in[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_in[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_in[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "notused[0]" SITE "T20"; # RASP_IO12
LOCATE COMP "notused[1]" SITE "R20"; # RASP_IO11
LOCATE COMP "notused[2]" SITE "P20"; # RASP_IO13
LOCATE COMP "notused[3]" SITE "P18"; # RASP_IO14
LOCATE COMP "notused[4]" SITE "P19"; # RASP_IO16
LOCATE COMP "notused[5]" SITE "N20"; # RASP_IO15
LOCATE COMP "notused[6]" SITE "N19"; # RASP_IO17
# LOCATE COMP "notused[7]" SITE "T16"; # RASP_IO18 locate for data_in[7], see above
LOCATE COMP "notused[7]" SITE "R17"; # RASP_IO19
LOCATE COMP "notused[8]" SITE "R16"; # RASP_IO21
LOCATE COMP "notused[9]" SITE "P16"; # RASP_IO20
LOCATE COMP "notused[10]" SITE "N17"; # RASP_IO22
LOCATE COMP "notused[11]" SITE "P17"; # RASP_IO23
LOCATE COMP "notused[12]" SITE "N18"; # RASP_IO25
LOCATE COMP "notused[13]" SITE "M17"; # RASP_IO24
LOCATE COMP "notused[14]" SITE "N16"; # RASP_IO26
LOCATE COMP "notused[15]" SITE "M18"; # RASP_IO27
LOCATE COMP "notused[16]" SITE "L18"; # RASP_ID_SD
LOCATE COMP "notused[17]" SITE "L17"; # RASP_ID_SC

IOBUF PORT "noteused[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[15]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[16]" IO_TYPE=LVCMOS33;
IOBUF PORT "noteused[17]" IO_TYPE=LVCMOS33;
