#
LOCATE COMP "ref_clk" SITE "A10"; # 12 MHz clock
IOBUF PORT "ref_clk" IO_TYPE=LVCMOS33;

# LOCATE COMP "reset_n" SITE "P4"; # SW4, BUTTON_1
# IOBUF PORT "reset_n" IO_TYPE=LVCMOS33;

LOCATE COMP "reset" SITE "N16"; # RASP_IO26 | wPi_25
IOBUF PORT "reset" IO_TYPE=LVCMOS33;

LOCATE COMP "rx_pin" SITE "P2"; # <---- BDBUS0/TXD
LOCATE COMP "tx_pin" SITE "P3"; # ----> BDBUS1/RXD
IOBUF PORT "rx_pin" IO_TYPE=LVCMOS33;
IOBUF PORT "tx_pin" IO_TYPE=LVCMOS33;

LOCATE COMP "addr[0]" SITE "P18"; # RASP_IO14 | wPi_15
LOCATE COMP "addr[1]" SITE "P20"; # RASP_IO13 | wPi_23
IOBUF PORT "addr[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "addr[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "data_in[0]" SITE "U17"; # RASP_IO04 | wPi_7
LOCATE COMP "data_in[1]" SITE "U18"; # RASP_IO05 | wPi_21
LOCATE COMP "data_in[2]" SITE "T18"; # RASP_IO06 | wPi_22
LOCATE COMP "data_in[4]" SITE "R18"; # RASP_IO07 | wPi_11
LOCATE COMP "data_in[3]" SITE "U19"; # RASP_IO08 | wPi_10
LOCATE COMP "data_in[5]" SITE "T19"; # RASP_IO09 | wPi_13
LOCATE COMP "data_in[6]" SITE "U20"; # RASP_IO10 | wPi_12
LOCATE COMP "data_in[7]" SITE "R20"; # RASP_IO11 | wPi_14
IOBUF PORT "data_in[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_in[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_in[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_in[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_in[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_in[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_in[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_in[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "data_out[0]" SITE "N19"; # RASP_IO17 | wPi_0
LOCATE COMP "data_out[1]" SITE "T16"; # RASP_IO18 | wPi_1
LOCATE COMP "data_out[2]" SITE "R17"; # RASP_IO19 | wPi_24
LOCATE COMP "data_out[3]" SITE "P16"; # RASP_IO20 | wPi_28
LOCATE COMP "data_out[4]" SITE "R16"; # RASP_IO21 | wPi_29
LOCATE COMP "data_out[5]" SITE "N17"; # RASP_IO22 | wPi_3
LOCATE COMP "data_out[6]" SITE "P17"; # RASP_IO23 | wPi_4
LOCATE COMP "data_out[7]" SITE "M17"; # RASP_IO24 | wPi_5
IOBUF PORT "data_out[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_out[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_out[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_out[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_out[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_out[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_out[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "data_out[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "we" SITE "T20";  # RASP_IO12 | wPi_26
IOBUF PORT "we" IO_TYPE=LVCMOS33;

LOCATE COMP "clk" SITE "N18"; # RASP_IO25 | wPi_6
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "cs" SITE "P19";  # RASP_IO16 | wPi_27
IOBUF PORT "cs"  IO_TYPE=LVCMOS33;

LOCATE COMP "ack" SITE "N20"; # RASP_IO15 | wPi_16
IOBUF PORT "ack" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "A13"; # D5  | LED 0
LOCATE COMP "led[1]" SITE "A12"; # D6  | LED 1
LOCATE COMP "led[2]" SITE "B19"; # D7  | LED 2
LOCATE COMP "led[3]" SITE "A18"; # D8  | LED 3
LOCATE COMP "led[4]" SITE "B18"; # D9  | LED 4
LOCATE COMP "led[5]" SITE "C17"; # D10 | LED 5
LOCATE COMP "led[6]" SITE "A17"; # D11 | LED 6
LOCATE COMP "led[7]" SITE "B17"; # D12 | LED 7
IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "unused[1]" SITE "M18"; # RASP_IO27
LOCATE COMP "unused[2]" SITE "L18"; # RASP_ID_SD
LOCATE COMP "unused[3]" SITE "L17"; # RASP_ID_SC
IOBUF PORT "unused[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "unused[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "unused[3]" IO_TYPE=LVCMOS33;
